.ManageProfilePage{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.profile-container{
  display: flex;
  flex-direction: row;
  width: 100vh;
  height: 100vh;
  align-items: center;
  gap: 50px;
  justify-content: center;
  align-content: center;
  margin-left: 300px;
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #ccc;
  width: 350px;
  height: 500px;
  
}
.modal-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 24px;
  width: 400px;
  border-radius: 8px;
}