.ManageAppointment-dashboard{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.ManageAppointment-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}